-> A tuple is a ordered collection of the element.

-> Objects in tuple are immutable.

In [1]:
a = (1, 2, 3)

type(a)

tuple

In [2]:
# parenthesis in not require for declaring a tuple

b = 1, 2 , 3

tuple

In [3]:
# Creating a empty tuple

c = ()

type(c)

tuple

In [4]:
# Accessing element in the tuple

myTuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

print(f'0th element is : {myTuple[0]}')
print(f'1st element is : {myTuple[1]}')
print(f'2nd element is : {myTuple[2]}')

0th element is : 1
1st element is : 2
2nd element is : 3

In [5]:
#  Deleting a tuple

t = (1, 8, 9)
del t

print(t)

NameError: name 't' is not defined

In [6]:
# Iteration through a tuple

for i in myTuple:
    print(i, end = ' ')

1 2 3 4 5 6 7 8 9

In [7]:
# Check whether a particular item is present or not

print(89 in myTuple)

False

In [8]:
# Length of the tuple

print(len(myTuple))

9

In [9]:
# Concatenation of tuples

q = (1, 2, 3)
w = (5, 6, 8)

print(q + w)

(1, 2, 3, 5, 6, 8)

In [10]:
# We can combine two tuple into another tuple to form a nested tuple

e = (q, w)
print(e)

((1, 2, 3), (5, 6, 8))

In [11]:
# Repetition

print((1, 2, 3) * 5)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [12]:
# min and max in a tuple

print(max((4, 5, 99)))

print(min((9, 8, 0)))

99
0

In [15]:
# Converting a list into tuple

myList  = [1, 2, 2]
print(type(myList))

newTuple = tuple(myList)
print(type(newTuple))

<class 'list'>
<class 'tuple'>